@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@900&display=swap");
/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #A5B7F2;
  font-family: "Lato", sans-serif;
}

.barra {
  background-color: #A09EE8 !important;
}

.logo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  color: #9FBDDB;
}

ul li {
  font-size: 20px;
  padding: 20px;
}
ul li :hover {
  transform: scale(1.3);
}

li a {
  text-decoration: none;
  color: black !important;
}

.imgilus {
  height: 400px !important;
  object-fit: contain;
  object-position: center;
}

.eslogan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(/Imagenes/Recepcion/recepcion.jpg);
  background-position: center;
  background-size: cover;
}

.eslogan1 {
  display: inline-block;
  padding: 30px;
  margin-top: 50px;
  text-align: left;
  text-shadow: 2px 2px 2px white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.parrafo1 {
  width: 50%;
  margin-left: 50px;
  margin-bottom: 50px;
  display: inline-block;
  color: black;
  font-size: 20px;
  text-align: left;
  text-shadow: 2px 2px 2px white;
  align-items: start;
  background-color: rgba(240, 248, 255, 0.459);
}

.seccionsuperior {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja {
  width: 300px;
  margin: 40px;
  text-align: center;
  padding: 0px;
}

.titulos {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-size: 30px;
}

.parrafos {
  font-size: large;
  color: black;
}

.seccionmedia {
  background-color: #A09EE8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.seccionmedia p {
  text-align: center;
  padding: 30px;
  color: black;
}

.seccionbaja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

form {
  width: 350px;
  height: 400px;
  padding-left: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
form label {
  padding: 3px;
}
form input {
  width: 200px;
}
form button {
  width: 50px;
  margin: 10px;
}

.redes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.redes :hover {
  transform: scale(1.3);
}

.redes1 a {
  margin-left: 40px;
  padding: 20px;
}

.imagencelu img {
  height: 500px;
}
.imagencelu :hover {
  transform: rotateY(380deg);
  transition: all 5s;
}

i {
  letter-spacing: 20px;
  font-size: 50px;
}

.seccionbaja h3 {
  display: inline-block;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #A09EE8;
  margin-top: 20px;
}
footer li :hover {
  transform: scale(1.3);
}
footer p {
  margin: 0;
  text-align: center;
  color: black;
}
footer a {
  color: black !important;
}

.contacto :hover {
  transform: scale(1.5);
  transition: all 3s;
}

.imagen {
  border-radius: 50% 20%/10% 40%;
}

/*# sourceMappingURL=style.css.map */
